<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<th:block th:fragment="footerFragment">
		<footer class="footer">
			<div>
				<address>
                    주)이노션&nbsp;&nbsp;&nbsp;대표자 : 이용우&nbsp;&nbsp;&nbsp;사업자등록번호 : 220-87-09310&nbsp;&nbsp;&nbsp;서울 강남구 강남대로 308 랜드마크타워<br />
                    고객센터 : 평일 09:00~18:00 (주말 및 공휴일 휴무)&nbsp;&nbsp;&nbsp;연락처 : moca@innocean.com &nbsp;
                    <a href="/support/policy">[약관 및 운영정책]</a>
				</address>
				<copyright>copyright(c) INNOCEAN All right reserved.</copyright>
			</div>
	    </footer>
	</th:block>
	<th:block th:fragment="joinFooterFragment">
		<footer class="footer terms-footer">
			<div>
				<address>
				  	주)이노션&nbsp;&nbsp;&nbsp;대표자 : 이용우&nbsp;&nbsp;&nbsp;사업자등록번호 : 220-87-09310&nbsp;&nbsp;&nbsp;서울 강남구 강남대로 308 랜드마크타워<br />
                    고객센터 : 평일 09:00~18:00 (주말 및 공휴일 휴무)&nbsp;&nbsp;&nbsp;연락처 : moca@innocean.com &nbsp;
					<a href="/support/policy">[약관 및 운영정책]</a>
				</address>
				<copyright>copyright(c) INNOCEAN All right reserved.</copyright>
			</div>
	    </footer>
	</th:block>
</html>