<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   <th:block th:fragment="loadingFragment">
     <div id="loader" class="modal loadingNow" data-backdrop="static" style="z-index:9999; height: 100%;">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="loading">Loading&#8230;</div>
         </div>
       </div>
     </div>
   </th:block>
</html>